@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iTAX</h1>
    <p class="lead">iTAX processes account transaction data to calculate tax figures for a client tax return.</p>
</div>

